@charset "UTF-8";

body {
    background-color:rgba(1, 255, 255, 0.521);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: rgb(37, 12, 175);
}

h1#principal {
    text-align: center;
    font-size:3em;
    background-color: rgb(37, 12, 175);
    color: white; 
}

.basico {
    color: rgba(33, 133, 33, 0.918);
    font-weight: bold;
}

.intermediario {
    color: rgb(185, 185, 64);
}

.avancado {
    color: rgba(207, 28, 28, 0.808);
}

.destaque {
    background-color: rgba(255, 255, 0, 0.404);
}