@charset "UTF-8";

body {
    background-color: grey;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

h1 {
    color: greenyellow;
}

h2 {
    color: darkred;
    background-color: bisque;
}

p {
    text-align: justify;
}